<div class=pxViewContent>

<table style="width: 100%;">
<tr>
<td style="vertical-align: top; width: 20%;">
      <ul>
        <div ng-repeat-start="link in aLeftSideNavigationLinks" ng-class="link.arrowClasses" ng-click="onLeftSideNavigationLinkClick(aLeftSideNavigationLinks, link)"></div>     
        <li ng-repeat-end="" class="cnpSideNav">
          <a ng-class="pxSubNavigationItem" ng-click="onLeftSideNavigationLinkClick(aLeftSideNavigationLinks, link)">{{link.linkTE}}</a>
        </li>
      </ul>
</td>
<td>
<div ui-view class=fadeInAnimation></div>
</td>
</tr>
</table>
</div>
	

